*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.navbar{
    background-color: rgb(8, 7, 7);
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;
}
.logo .image img{
    width: 100px;
    height: 50px;
    margin: 1px;
    padding: 1px 8px 0px 6px;
}
.address .address1{
    margin-left: 12px;
    font-size: 12px;
}
.address .address2{
    display: flex;
    align-items: center;
}
.address .address2 .second-add{
    margin-left: 5px;
}
.searchbar{
    display: flex;
    width: 56%;
    background-color: rgb(226, 194, 11);
    border-radius: 5px;
}
.searchbar .select-searchbar .select{
    width: 45px;
    height: 40px;
    border: none;
    color: black;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(218, 218, 218);
}
.searchbar .input-searchbar .inputn{
    width: 730px;
    height: 40px;
    border: none;
    padding-left: 15px;
    color: black; 
}
.searchbar .searchicon-searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 40px;
    border: none;
}
.searchbar .searchicon-searchbar i{
    font-size: 20px;
    color: black; 
}
.about .about1 .ab1{
    font-size: 12px;
}
.about .about1 .ab2{
    font-size: 14px;
    font-weight: bold;
}
.cart{
    display: flex;
    align-items: flex-end;
}
.cart .carticon i{
    font-size: 30px;
}
.cart .carttext .text{
    font-weight: bold;
    margin-left: 5px;
}
.pannel{
    background-color: #232f3e;
    height: 39px;
    width: 100vw;
    display: flex;
    align-items: center;
}
.pannel .allicon{
    display: flex;
    align-items: center;
}
.pannel .allicon .icon{
    font-size: 25px;
}
.pannel .allicon .texticon .txti{
    padding-left: 12px;
    font-size: 16px;
    font-weight: 700;
}
.list{
    width: 43vw; 
}
.list .contents{
    display: flex;
    justify-content: space-evenly;
}
.pannel .elctronicsshop{
    position: absolute;
    right: 25px;
}
.mainarea .herosection{
    background-image: url("projectimages/hero_image.jpg");
    width: 100vw;
    height: 312px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.mainarea .herosection .text{
    background-color: #f5f6f6;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1442.4px;
    height: 40px;
    font-size: 14px;
}
.mainarea .herosection .text a{
    text-decoration: none;
    color: #007185;
}
.mainarea .herosection .text a:hover{
    text-decoration: underline;
    color: orange;
}
footer .pannel1{
    background-color: #132945de;
    opacity: 3.49;
    color: white;
    height: 49px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .pannel1 .pannel1-content{
    font-size: 13px;
    color: #ffffff;
}
footer .pannel2{
    background-color: #232f3e;
    color: white;
    height: 360px;
    width: 100vw;
    display: flex;
    justify-content:space-evenly ;
}
footer .pannel2 .headcont{
    font-size: 16px;
    margin: 30px 0px 14px;
    font-weight: bold;
}
footer .pannel2 .contentsin{
    font-size: 14px;
    line-height: 30px;
}
footer .pannel3{
    background-color: #232f3e;
    color: white;
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;  
}
hr{
    width: 100vw;
    color: white;   
}
footer .pannel3 .contents-pannel3 .logo3 .logo3amazon{
    width: 115.4px;
    height: 55px;
}
footer .pannel3 .contents-pannel3 .logo3{
    display: flex;
    width: 15vw;
    justify-content: flex-end;
}
footer .pannel3 .contents-pannel3{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .pannel3 .contents-pannel3 .container-pannel31{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    width: 100px;
    height: 33px;
    margin: 10px;
}
footer .pannel3 .contents-pannel3 .container-pannel31 .txt-pannel3{
    margin-left: 6px;
    font-size: 13px;
    font-weight: bold;
}
footer .pannel3 .contents-pannel3 .container-pannel32{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    width: 140px;
    height: 33px;
    margin: 10px;
}
footer .pannel3 .contents-pannel3 .container-pannel32 .txt-pannel3{
    margin-left: 6px;
    font-size: 13px;
    font-weight: bold;
}
footer .pannel3 .contents-pannel3 .container-pannel33{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    width: 140px;
    height: 33px;
    margin: 10px;
}
footer .pannel3 .contents-pannel3 .container-pannel33 .txt-pannel3{
    margin-left: 6px;
    font-size: 13px;
    font-weight: bold;
}
footer .pannel5{
    background-color: #131a22;
    color: white;
    width: 100vw;
    height: 80px;    
}
footer .pannel5 .context1{
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;    
}
footer .pannel5 .context1 .context-text{
    margin: 10px;
}
footer .pannel5 .context2{
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .pannel5 .context2 .context-text{
    margin: 10px;
}
footer .pannel4{
    background-color: #131a22;
    color: white;
    width: 100vw;
    height: 800px;  
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;  
}
footer .pannel4 .sort{
    display: inline-block;
    width: 117px;
    height: 60px;
    margin: 34px;
}
footer .pannel4 .sort .heading123{
    font-size: 12px;
    font-weight: 700; 
}
footer .pannel4 .sort .infor{
    font-size: 12px;  
    line-height: 16px;
}
.border{
    background-color: rgb(198, 218, 217);
    /* border: 2px solid black; */
    width: 100vw;
    /* height: 1000px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.border .containerf{
    background-color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    /* border: 2px solid yellow; */
    width: 23%;
    height: 400px;
    padding: 20px 0px 15px;
    /* margin: 37px; */
    display: inline-block;
}
.border .containerf h2{
    /* height: 40px; */
    /* background-color: white; */
    color: black;
    padding-top: 5px;
    /* text-align:left; */
}
.border .containerf p{
    /* height: 40px; */
    /* background-color: white; */
    color: #007185;
   
}
.border .containerf .picture{
    height: 300px;
    background-size: cover;
    /* background-repeat: no-repeat; */
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-con{
    margin-left:10px ;
    margin-right: 10px;
}
